html, body, .component-container, .mainContainer, .App{
  height: 100vh;
  width: 100vh;
}
.home{
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sokoban{
  color: white;
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.play_btn{
  margin-block: 5px;
  background-image: url("./przycisk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  font-family: minecraft;
  font-size: 47px;
  padding-inline: 177px;
  padding-block: 10px;
  text-shadow: 1px 1px 2px black
}
.settings_btn{
  margin-block: 20px;
  background-image: url("./przycisk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  font-family: minecraft;
  font-size: 47px;
  padding-inline: 242px;
  padding-block: 10px;
  text-shadow: 1px 1px 2px black
}
.exit_btn{
  margin-block: 20px;
  background-image: url("./przycisk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  font-family: minecraft;
  font-size: 47px;
  padding-inline: 270px;
  padding-block: 10px;
  text-shadow: 1px 1px 2px black
}
.sokoban_txt{
  font-family: Minecraft Evenings;
  color: #A89C9B;
  padding: 0%;
  margin: 0%;
  font-size: 129px;
  text-shadow: 1px 1px 2px black;
}